@model IEnumerable<Realight_Website.Models.Room>

@{
    ViewData["Title"] = "Browse";
}

<div class="row">
    <div class="col-1">Hello this is a test for live sharing</div>
    <div class="col-10 browse-filters">Sort by:</div>
    <div class="col-1"></div>
</div>


<div class="row">
    <div class="col-1"></div>
    <div class="browse-container col-10">
        @foreach (var item in Model)
        {
			<a class="LinkToDetail" asp-action="RoomDetail" asp-controller="Home"
                           asp-route-id="@item.RoomID">
				<div class="map-panel" href="">
					<div class="map-header">
						<div class="map-header-info">
							<div id="title">@Html.DisplayFor(modelItem => item.name)</div>
							@Html.DisplayFor(modelItem => item.ownername)
							<div class="player-count con-tooltip">
								<img id="person" src="~/images/whiteperson.png" />
								<span>@Html.DisplayFor(modelItem => item.playerCount)</span>
								<div class="tooltip"><p>Current Players</p></div>
							</div>
						</div>
					</div>
					<div class="map-info">
						<div class="tag-container">
							@for (int i = 0; i < item.interestTag.Count(); i++)
							{
								<div class="tag">@Html.DisplayFor(modelItem => item.interestTag[i])</div>
							}
						</div>
						<div class="link con-tooltip">
							<a onclick="copyToClipboard('@Html.DisplayFor(modelItem => item.code)')"><input style="display:none" id="@Html.DisplayFor(modelItem => item.code)" value="@Html.DisplayFor(modelItem => item.code)" /><img id="link" src="~/images/copytoclipboard.png" /></a>
							<div class="tooltip tooltip-2"><p id="@Html.DisplayFor(modelItem => item.code)-Text">Copy Room Code</p></div>
						</div>
					</div>
				</div>
			</a>
        }
    </div>

    <div class="col-1"></div>
</div>


<script>
	function copyToClipboard(id) {
        var copyText = document.getElementById(id);
		copyText.style.display = "block";
		copyText.select();
		copyText.setSelectionRange(0, 99999)
        document.execCommand("copy");
        copyText.style.display = "none";
        var changeText = document.getElementById(id + "-Text");
        changeText.innerHTML = "Copied!";
        changeText.style.color = "#056406";
        setTimeout(function() {
            changeBackToOriginal(id);
        }, 7000);
    }

    function changeBackToOriginal(id) {
		var changeText = document.getElementById(id + "-Text");
		changeText.innerHTML = "Copy Room Code";
		changeText.style.color = "#E086D3";
	}
</script>