@model IEnumerable<Realight_Website.Models.Room>

@{
    ViewData["Title"] = "Browse";
}

<div class="browse-header">
    <h1>Browse</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
</div>


<div class="browse-container">
    @foreach (var item in Model)
    {
    <div class="map-panel" href="">
        <div class="map-header">
            <div class="map-header-info">@Html.DisplayFor(modelItem => item.name)</div>
        </div>
        <div class="map-info">
            @Html.DisplayFor(modelItem => item.code)<br />
            @Html.DisplayFor(modelItem => item.mapURL)
            @Html.DisplayFor(modelItem => item.playerCount)
            @Html.DisplayFor(modelItem => item.imgURL)
            <div class="tag-container">
                @for (int i = 0; i < item.interestTag.Count(); i++)
                {
                    <div class="tag">@Html.DisplayFor(modelItem => item.interestTag[i])</div>
                }
            </div>


            <!--
    <div class="maps-actions">
    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </div>-->
        </div>
    </div>

    }
</div>


