@model IEnumerable<Realight_Website.Models.Player>

@{
    ViewData["Title"] = "Profile";
}

<div>
    @foreach (var item in Model)
    {
        <div class="container-fluid">
            <!--Photo + World Header-->
            <div class="row equalheight">
                <div class="col-1"></div>
                <div class="details-header-container col-10">
                    <div>
                        <p class="details-header-content">
                            <span style="font-size:1.5em">@Html.DisplayFor(modelItem => item.name)</span>
                            <br />
                            <span style="font-size:0.8em">@Html.DisplayFor(modelItem => item.status)</span>

                        </p>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <!--Header for the content-->

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6 details-container">
                    <p>
                        <span style="font-size:1.2em">Biography</span>
                        <br />
                        <br />
                        <span>
                            @Html.DisplayFor(modelItem => item.biography)
                        </span>
                    </p>
                </div>
                <div class="col-md-4 details-container">
                    <p style="font-size: 1.1em">Languages</p>
                    @if (item.language != null)
                    {
                        @for (int i = 0; i < item.language.Count(); i++)
                        {
                            <div class="strList">@Html.DisplayFor(modelItem => item.language[i])</div>
                        }
                    }

                </div>
                <div class="col-md-1"></div>
            </div>
            <!--Worlds header-->
			<div class="row equalheight">
				<div class="col-1"></div>
				<div class="col-10 comment-container" value="@item.id" id="id">Worlds Created</div>
				<div class="col-1"></div>
			</div>

			<!--Worlds Section-->
			<div class="row">
				<div class="col-1"></div>
                <div style="padding-bottom:15px" class="col-10 comment-container" id="worldList">
                    @if (item.worlds != null)
                    {
                        @for (int i = 0; i < item.worlds.Count(); i++)
                        {
                            <div class="comment-section"><span style="font-size:0.9em">@Html.DisplayFor(modelItem => item.worlds[i])</span></div>
                        }
                    }
                </div>
				<div class="col-1"></div>
			</div>

        </div>
    }
</div>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-database.js"></script>
<script>
	// Your web app's Firebase configuration
	// For Firebase JS SDK v7.20.0 and later, measurementId is optional
	var firebaseConfig = {
		apiKey: "AIzaSyDSp5jtMKeR9jUoO7PajPrBk0f4cKe-BHg",
		authDomain: "realight-db.firebaseapp.com",
		databaseURL: "https://realight-db.firebaseio.com",
		projectId: "realight-db",
		storageBucket: "realight-db.appspot.com",
		messagingSenderId: "328891504744",
		appId: "1:328891504744:web:a77c1313603d55fd63c3dd",
		measurementId: "G-FT73E57Y67"
	};
	// Initialize Firebase
	firebase.initializeApp(firebaseConfig);

	const rootRef = firebase.database().ref();


</script>